.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #546d96;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__btn {
  width: 200px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 25px;
  outline: none;
  background-color: #546d96;
  border: 1px solid white;
  color: #fff;
}

.start__btn:hover {
  color: #546d96;
  background-color: #fff;
  transition: .3s all ease;
}

.info__container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}