.square {
  width: 200px;
  height: 200px;
  border: 1px solid #546d96;
  background-color: #503070;
  cursor: pointer;
  outline: none;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.square:hover {
  background-color: #472a64;
  transition: .3s ease;
}